
/* Grid Container */
body{
    background-color: #F0EBD8;
    color: #2f303a;
}

/* Grid template to place elements */
main {
    display: grid;
    grid-template-areas:
        "theme topbar misc"
        "menu content sidebar"
        "footer footer footer";
    
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px auto 200px ;
    gap: 0 50px;
}

/* Grid Items */

.header{ 
    grid-area: topbar;
    display: flex;
    justify-content: center;
}

/* placement of theme button */
.theme{
    grid-area: theme;
}

/* placement of menu */
.menu {
    grid-area: menu;
    align-items: baseline;
    justify-content: center;
    display: flex;
    position: relative;

}

/* display block to align items in a column */
.choices button {
    display: block;
    width: 125px;
    
}

/* dop shadow */
.content{
    background-color: white;
    box-shadow: 5px 5px 5px black;

}

/* Video */
.video { 
    grid-area: content; 
    filter: drop-shadow(10px 10px 4px #474747); 
    align-items: center;
    justify-content: center;
    display: flex;
}

/* blurred backdrop */
.background {
    grid-area: content;
    filter: blur(5px);
    justify-content: center;
    display: flex;
    height: 400px;
}

/* Description */
.desc{ 
    grid-area: sidebar; 
    position: relative;
}

/* Footer */
footer {
    grid-area: footer;
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
}

