
/* Grid Container */
body{
    background-color: #F0EBD8;
    color: #2f303a;
}

/* Grid template to place elements */
main {
    display: grid;
    grid-template-areas:
        "topbar topbar topbar"
        "settings content sidebar"
        "footer footer footer";
    
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px auto 200px ;
    gap: 0 50px;
}

/* Grid Items */

.header{ 
    grid-area: topbar;
    display: flex;
    justify-content: center;
}

.sPanel {
    outline-color: #2f303a;
    outline-width: 5px;
    outline-style: solid;
    border-radius: 10px;
    width: 150px;
    max-height: max-content;
    margin-top: 10px;
    margin-left: 10px;
    background-color: #2f303a;
}

.sPanel button {
    width: 150px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-radius: 50px;
    background-color: #e7dbb1;
}

.sPanel p {
    color: #F0EBD8;
    text-align: center;
}


.name, .email{
    width: 150px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-radius: 50px;
}

.userSet button{
    background-color: rgb(201, 207, 240);

}


/* display block to align items in a column */
.choices button {
    display: block;
    background-color: #ffff;
}


/* dop shadow */
.content{
    background-color: white;
    box-shadow: 5px 5px 5px black;

}

/* Video */
.video { 
    grid-area: content; 
    filter: drop-shadow(10px 10px 4px #474747); 
    align-items: center;
    justify-content: center;
    display: flex;
}

/* blurred backdrop */
.background {
    grid-area: content;
    filter: blur(5px);
    justify-content: center;
    display: flex;
    height: 400px;
}

/* Description */
.desc{ 
    grid-area: sidebar; 
    position: relative;
}

/* Footer */
footer {
    grid-area: footer;
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
}

