body {
    background-color: rgb(89 37 48);
}

img{
    filter: blur(5px);
    -webkit-filter: blur(8px);
    width: 100%;
    height: 100%;
}


h1 {
    text-align: center;
    position: relative;
    top: -525px;
}

.Video{
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
    top: -525px;
    filter: drop-shadow(10px 10px 4px #474747);
}

.Desc{
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
    top: -510px;
}
.Menu{
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
    top: -510px;
    
}

.Auto{
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
    top: -510px;
}

footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
}